.body__header{
    margin-bottom: 10px;
}
.body__line--small{
    height: 3px;
    background: linear-gradient(to right, #02C7E1, #0C78C2);
    margin-bottom: 100px;
}
.body__main {
}
.main__director {
    margin-bottom: 100px;
}
.director__wrapper {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}
.wrapper__img {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 10%;
}
.wrapper__title {
    font-size: 64px;
    margin-bottom: 10px;
}
.wrapper__post {
    font-size: 32px;
    margin-bottom: 40px;
}
.wrapper__text {
    font-size: 40px;
    margin-bottom: 100px;
    font-weight: 400;
    text-align: center;
}
.line--big {
    height: 20px;
    background: linear-gradient(to right, #02C7E1, #0C78C2);
}

.main__workers {
}
.workers__wrapper {
    font-weight: 700;
    padding: 0 40px;
}
.wrapper__tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.wrapper__tablet:first-child{
    margin-bottom: 150px;
}
.wrapper__tablet:last-child{
    margin-bottom: 100px;
}
.tablet__img {
    width: 30%;
}
.tablet__des {
    width: 60%;
}
.des__title {
    font-size: 50px;
    margin-bottom: 5px;
}
.des__post {
    font-size: 20px;
    margin-bottom: 22px;
}
.des__text {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}
@media (max-width:900px) {
    .wrapper__img{
        width: 50%;
    }
    .wrapper__tablet {
        flex-direction: column;
    }
    .wrapper__tablet:first-child {
        margin-bottom: 100px;
    }
    .wrapper__tablet:last-child {
        flex-direction: column-reverse;
    }
    .tablet__img {
        width: 50%;
        margin-bottom: 20px;
    }
    .tablet__des {
        width: 90%;
    }
    
}
@media (max-width:600px) {
    .body__line--small{
        margin-bottom: 50px;
    }
    .wrapper__img{
        width: 70%;
    }
    .wrapper__text{
        font-size: 25px;
    }
    .tablet__img {
        width: 100%;
    }
    .tablet__des {
        width: 100%;
    }
}