.body__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181823;
    padding: 35px 0;
}
.footer__logo {
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}
.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.social__icon {
    width: 30px;
    margin: 0 20px;
}
.social__icon > img{
    width: 100%;
}
.footer__copy {
    color: #8491A0;
    font-size: 16px;
    font-weight: 400;
}